In [52]:
x= 5
x=7
y= x+10
y

17

In [53]:
x+y+y

41

In [54]:
z= x*2 + y*2
z

48

In [55]:
a=100000 #integer
b=3.14592653589793 #float
c=True #Integer
d="Hello world" #String
e= None 
f=[1,2,3,4,5] #list
g=(1,2,3) #tuple
h={11,22,33,44,55} #set
i={'a':'apple', 'b':'banana'} #dictionary

Operators

-Assignment

-Arithmetic 

-Comparison

-Logical

-Identity

-Membership 

-Bitwise

In [56]:
a=10
b=3

In [57]:
a += 2
a

12

In [58]:
a -= 3
a

9

In [59]:
a + b #addition

12

In [60]:
a-b #substraction

6

In [61]:
a * b #multiplication

27

In [62]:
a/b #division

3.0

In [63]:
10 /3

3.3333333333333335

In [64]:
a//b #integer division (floor division)

3

In [65]:
12%3 #module (remainder)

0

In [66]:
10%7

3

In [67]:
10**5 #exponential

100000

In [68]:
12 > 3 # greater than

True

In [69]:
x=10
x<5

False

In [70]:
a > b

True

In [71]:
a < b

False

In [72]:
a!=10

True

In [73]:
True and True

True

In [74]:
False and False and True

False

In [75]:
a> 10 and b<10

False

In [76]:
a+ 10 >10

True

In [77]:
a*3 == b*10

False

In [78]:
'tiger' == 'Tiger'

False

In [80]:
"zebra" == 'zebra'

True

In [81]:
a+b > 5 or 3 > 100

True

In [82]:
not a > b

False

In [83]:
not a < 10 and b< 10

False

In [84]:
a is b

False

In [85]:
x= 5
y= 5
z=6

In [86]:
x is y

True

In [87]:
x is z

False

In [ ]:
colors= ['red','white','blue','black']

In [90]:
'red' in colors

True

In [91]:
10 in colors

False

In [92]:
'yellow' in colors

False

In [93]:
'Blue' in colors

False

In [96]:
name= input()

In [95]:
age = input('What is your age')

In [105]:
name= input('What is your name? ')
college= input('What college do you attend ')
city= input ('What city do you live in? ')
color= input ('What is your fav color ? ')

In [106]:
print(name)

Udbhav

In [107]:
print(name,college,city,color)

Udbhav Techno Institute Lucknow Blue

In [108]:
print(name)
print(college)
print(age)
print(city)

Udbhav
Techno Institute
25
Lucknow

In [110]:
print('My name is' , name)

My name is Udbhav

In [111]:
print ('My name is', name)
print ('I attended', college)
print ('I live in ', city)
print ('My fav color is', color)

My name is Udbhav
I attended Techno Institute
I live in  Lucknow
My fav color is Blue

In [112]:
print ('My name is', name , 'and I attended', college, 'in', city, 'and my fav color is', color)

My name is Udbhav and I attended Techno Institute in Lucknow and my fav color is Blue