Loop

-For loop-step based

-While Loop-conditioned based

for loop syntax

for 
temp_variable
in iterable:

    statement
    1

    statement
    2

    ...
    
    statement
    n

In [1]:
a= 'Alphabet and numbers'
for letter in a :
    print ( letter)

A
l
p
h
a
b
e
t

a
n
d

n
u
m
b
e
r
s

In [2]:
colors=['red','green','blue','black']
for color in colors:
    print('I like ',color, 'color')

I like  red color
I like  green color
I like  blue color
I like  black color

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

range() function

-range(100) => 0-99

-range(5,50) => 5-49

-range (10,100,10) => 10,20,30,40,50,60,70,80,90

-range(start, stop, step)

In [4]:
for i in range(100):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [8]:
for i in range (5, 50 ):
    print(i, end=' ')

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [9]:
for i in range(5,100,10):
    print(i,end=' ')

5 15 25 35 45 55 65 75 85 95

In [14]:
numbers = [46,35,3,5,6,7,8,4]
for i in numbers:
    if i%2==0:
        print(f'{i}, is even')
    else:
        print(f'{i}, is odd')

46, is even
35, is odd
3, is odd
5, is odd
6, is even
7, is odd
8, is even
4, is even

In [15]:
colors = ['red','green','yellow','orange']
for i in colors :
    if 'o' in i :
        print(i)

yellow
orange

In [17]:
guest=['Mr. JOhn','Dr. Smith','Mr. Jones' ,'Mrs. Smith', 'Dr. Jones', 'Dr. Smith','alexa']
for name in guest:
    if name.startswith('Mr.'):
        print('Hello sir')
    elif name.startswith('Mrs.'):
        print("Hello ma'am")
    elif name.startswith('Dr.'):
        print ('Hello Doctor')
    else:
        print(f"{name} is not invited")

Hello sir
Hello Doctor
Hello sir
Hello ma'am
Hello Doctor
Hello Doctor
alexa is not invited

In [18]:
numbers = [23,45,56,68,34,67,45,46,56,87]
for numb in numbers:
    if numb >50:
        print('üò∂‚Äçüå´Ô∏è')
    elif numb <30:
        print('üòä')
    else:
        print ('üòí')

üòä
üòí
üò∂‚Äçüå´Ô∏è
üò∂‚Äçüå´Ô∏è
üòí
üò∂‚Äçüå´Ô∏è
üòí
üòí
üò∂‚Äçüå´Ô∏è
üò∂‚Äçüå´Ô∏è

Function that used along with loops

-enumerate()

-zip()

In [19]:
name= ['Ritesh', 'Nitesh', 'Himanshu', 'Amita', 'Udbhav','Aditya','Avanish','Priyanshi','Areesha','Muskan','Pragya','Amrit']
for nm in enumerate(name):
    print(nm)

(0, 'Ritesh')
(1, 'Nitesh')
(2, 'Himanshu')
(3, 'Amita')
(4, 'Udbhav')
(5, 'Aditya')
(6, 'Avanish')
(7, 'Priyanshi')
(8, 'Areesha')
(9, 'Muskan')
(10, 'Pragya')
(11, 'Amrit')

In [21]:
for i,nm in enumerate(name):
    print(f'{nm} is at index {i}')

Ritesh is at index 0
Nitesh is at index 1
Himanshu is at index 2
Amita is at index 3
Udbhav is at index 4
Aditya is at index 5
Avanish is at index 6
Priyanshi is at index 7
Areesha is at index 8
Muskan is at index 9
Pragya is at index 10
Amrit is at index 11

In [22]:
bday= ['12 oct', '2feb','30 aug','18 jan','20 oct','3 may', '13 aug','12 jun','22 march','13 sep','25 oct','13 may']

In [24]:
for nm , date in zip (name, bday):
    print(f'{nm} has bdayüéÇ,{date}')

Ritesh has bdayüéÇ,12 oct
Nitesh has bdayüéÇ,2feb
Himanshu has bdayüéÇ,30 aug
Amita has bdayüéÇ,18 jan
Udbhav has bdayüéÇ,20 oct
Aditya has bdayüéÇ,3 may
Avanish has bdayüéÇ,13 aug
Priyanshi has bdayüéÇ,12 jun
Areesha has bdayüéÇ,22 march
Muskan has bdayüéÇ,13 sep
Pragya has bdayüéÇ,25 oct
Amrit has bdayüéÇ,13 may

In [26]:
products = [ 'T.V','Fridge','Table Fan']
price = ('15000','30000','5000')
qty = [5,10,25]
for p , pr , qt in zip(products,price,qty):
    print(f'{p}  | ${pr}| {qt}| total= {int(pr)*qt}')

T.V  | $15000| 5| total= 75000
Fridge  | $30000| 10| total= 300000
Table Fan  | $5000| 25| total= 125000

Loop Control

continue=> skip a turn

break=> exit/stop loop

Note: they are only used in a condition inside loop

In [27]:
x = [1,2,3,4,6,23,3,0,1,0,2,5,6]
for i in x :
    if i == 0:
        continue
    print (i)

1
2
3
4
6
23
3
1
2
5
6

In [28]:
for i in x :
    if i == 0:
        print('invalid data found , stopping code')
        break
    print(i)

1
2
3
4
6
23
3
invalid data found , stopping code

In [29]:
for i , nm in enumerate(name):
    if i == 5:
        break
    print(nm)

Ritesh
Nitesh
Himanshu
Amita
Udbhav

for - else

In [32]:
#C , Java c#
c = True #flag or switch
for i in [2,4,6,5,6,1,7,2]:
    if i ==5:
        c=False
        break
    print(i , end=' ')
if c :
    print('Loop Completed')
else :
    print('Loop Broken')

2 4 6 Loop Broken

In [33]:
for i in [2,1,32,41,2,1,2,3,31,31]:
    if i == 5:
        print('loop broken')
        break
    print (i , end=' ')
else:
    print('Loop Completed')

2 1 32 41 2 1 2 3 31 31 Loop Completed

While

In [34]:
x= 100
while x > 0 :
    print(x)
    x -=10

100
90
80
70
60
50
40
30
20
10